*,
::before,
::after{
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: transparent;/*������Ĭ�ϵĸ���Ч��*/

    -webkit-box-sizing: border-box;/*�����border��ʼ������Ŀ��*/

}

body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;/*�ڶ������ֻ���һ��Ĭ�ϵ�����*/
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}

input,textarea{
    border: none;
    resize: none;
    outline: none;/*���ѡ��Ч��*/

    -webkit-appearance: none;/*��������Ĭ�ϵ���ʽ*/
}

/*�������*/
.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

[class^="icon_"]{
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
}



/*顶部 topBar 设置*/
.jd_topBar{
    height: 45px;
    width: 100%;
    background: url("../images/header-bg.png") repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid #e0e0e0;
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
}

.jd_topBar .icon_back{
    height: 44px;
    width: 40px;
    background-position: -20px 0;
    display: block;                 /*  a 默认是行内元素 inline*/

    padding:12px 10px;
    position: absolute;
    background-origin:content-box;  /*决定了 background-position从什么位置开始绘制*/
    background-clip: content-box;   /*决定了显示区域在盒子模型的什么位置*/
}
.jd_topBar form{
    width: 100%;
    height: 44px;
    padding: 0 40px;
}
.jd_topBar input{
    border: 1px solid #bfbfbf;
    height: 32px;
    padding: 0px 8px;
    margin-top:7px;
    width: 100%;
    font-family:sans-serif;
    border-radius: 4px;
    font-size: 12px;
}

.jd_topBar .icon_menu{
    height: 20px;
    width: 20px;;
    background-position: -60px 0;
    display: block;
    position: absolute;
    right: 0;
    top:0;
    margin: 10px 10px;
}

.jd_topBar h2{
    width: 100%;
    height: 44px;
    line-height: 42px;
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    font-weight: inherit;
    text-align: center;
}
