
.jd_layout{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;   /*以此作为定位*/
}
/*搜索头部*/
.jd_header{
    position: fixed;
    top:0;
    left: 0;
    height: 40px;
}

.jd_header,.jd_header_box{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    background: rgba(201,21,35,0.85);
    height: 40px;
}

/*logo*/
.jd_header .jd_header_box .icon_logo{
    background-position: 0 -103px;
    width:60px;
    height: 36px;
    display: block;

    position: absolute;
    top: 4px;
    left: 10px;
}

.jd_header form{
    width: 100%;
    height: 40px;
    padding-left: 75px;
    padding-right: 55px;
    position: relative;
}

/*搜索按钮*/
.jd_header form .icon_search{
    background-position: -60px -109px;
    width:20px;
    height: 20px;
    display: block;

    position: absolute;         /*这里脱离文档流,不会影响到 input布局*/
    top: 10px;
    left: 85px;
}

.jd_header form input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}

/*登录*/
.jd_header .login{
    width: 50px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: #ffffff;

    position: absolute;
    top:0;
    right: 0;
}

/*轮播图*/

.jd_banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.jd_banner ul:first-child{
    width: 800%;
}
.jd_banner ul:first-child li{
    width: 12.5%;
    float: left;
}
.jd_banner ul:first-child li img{
    width: 100%;
    display: block;
}

.jd_banner ul:last-child{
    width: 118px;
    height: 6px;
    position: absolute;
    left: 50%;
    margin-left: -59px;
    bottom: 10px;
}

.jd_banner ul:last-child li {
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-left: 10px;
    float: left;
}
.jd_banner ul:last-child li:first-child{
    margin-left: 0;
}

.jd_banner ul:last-child li.now{
    background: #fff;
}

/*轮播图结束*/

/*导航栏*/
.jd_nav{
    height: 150px;
    width: 100%;            /*100%*/
    border-bottom: 1px solid #e0e0e0;
    padding: 0 3.125%;
    background: #fff;
    padding-top: 11px;
}

.jd_nav ul{
    width: 100%;        /*100%*/
}
.jd_nav ul li{
    width: 25%;
    height: 69px;
    float: left;
}
.jd_nav ul li a{
    display: block;
    width: 100%;
    height: 100%;       /*100%*/
    text-align: center;
}
.jd_nav ul li a img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.jd_nav ul li a p{
    font-size: 12px;
    color: #666;
    margin-top: 6px;
}

/*导航栏结束*/